h1 {
    text-align: center;
    background-color:rgb(218, 144, 49);
    color: white;
}
img {
    height: auto;
    width: 500px;
}
* {
    background-color: black;
    color:white;
}
h2 {
    font-family:'Times New Roman', Times, serif
}